<div align="center"class="demo1">
  <h1> Library Management System </h1>
</div><br>

<div align="center" class="demo3">
  <h2>Welcome To Library</h2>
  <p>“A library is a good place to go when you feel unhappy,<br>
     for there, in a book, you may find encouragement and comfort.<br>
      A library is a good place to go when you feel bewildered or undecided, <br>
      for there, in a book, you may have your question answered.<br>
      ' Books are good company, in sad times and happy times, <br>
      for books are people <br>
      – people who have managed to stay alive by hiding between the covers of a book.”</p>
<app-insert>
</app-insert>
</div><br><br><br><br>

  





<div align="center" class="demo4">
  <h2>View Book Details</h2>
<app-library>
</app-library>
</div><br><br><br><br>

<div align="center" class="demo5">
  <h2>Delete Book Details</h2>
<app-delete>
</app-delete>
</div><br><br><br><br>

<div align="center" class="demo6">
  <h2>Update Book Details</h2>
<app-update>
</app-update>
</div>


