<div align="center">
   
</div>
<div class="d-flex justify-content-center align-items-center">
    <img src="../assets/images/View.jpg" width="600px" height="450px" alt=""class="m-3 bgimg">
    <table>
        <thead>
              <tr><br>
                 <th>ID </th><br><br>
                 <th>Name</th><br><br>
                 <th>price</th><br><br>
               </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lab of lib"><br>
               <td>{{lab.id}}</td><br>
               <td>{{lab.name}}</td><br>
               <td>{{lab.price}}</td><br>
               
            </tr>
        </tbody>
   </table>
  
  
  
  
  </div>
    
